/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	background: #FFFEF8;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

footer, footer * {
	background: white;
	height: 60px;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

a {
	color: inherit;
    text-decoration: inherit;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

#filtresMenu {
	display: flex;
	justify-content: center;
}

.filtresItem {
	min-width: 80px;
	padding: 8px 8px;
	margin: 15px 5px 50px 5px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	text-align: center;
	color: #1D6154;
	background-color: #FFFEF8;
	border: 1px solid #1D6154;
	border-radius: 60px;
}

.filtresItem:hover {
	color: white;
	background-color: #1D6154;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

.gallery figcaption {
	padding-top: 7px;
}

#contact, #connexion {
	width: 50%;
	margin: auto;
}
#contact, #connexion > * {
	text-align: center;

}
#contact h2, #connexion h2{
	margin-bottom: 20px;
}
#contact form, #connexion form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #connexion input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, #connexion label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.lienLoginLogin {
	font-weight: 600;
}


.main-login {
	margin-top: 180px;
}

.main-login a {
	display: flex;
	justify-content: center;
	text-decoration:underline;
}

.mesProjets {
	display: flex;
	justify-content: center;
	align-items:baseline;
}

.mesProjets h2 {
	padding-right: 30px;
}

#bandeauEdition {
	background-color: black;
	color: white;
	text-align: center;
	padding: 20px 0;
	width: 100%;
	max-width: 1140px;
	position: fixed;
	top: 0;
}


/* Le fond de la modale (overlay) */
.modaleGalerie, .modaleFormulaire {
    display: none;
    position: fixed; 
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}



/* Style du contenu de la modale */
.modal-content {
    background-color: white;
	align-items: center;
    margin: auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 630px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
	border-radius: 10px;
}

/* Le titre des modales */
.modaleGalerie p, .modaleFormulaire p {
	padding: 40px 0;
	background-color: white;
	text-align: center;
	font-size: 26px;
}

/* La zone de la galerie de photos */
.modal-gallery {
	display:flex;
	flex-wrap: wrap;
	background-color: white;
	padding: 10px 80px 10px 100px;
}


/* La zone de suppression de photos*/
.img-container {
	position: relative;
	flex: 0 1 auto;
	background-color: white;
}

.img-container img {
	background-color: white;
	width: 77px;
	height: 102px;
	padding: 0 10px 20px 0;
}


/* Le bouton supprimer (corbeille)*/
.img-container .deleteBtn {
	position: absolute;
	padding: 2px 5px;
	color: #ffffff;
    top: 5px; 
    right: 15px;
    background-color: black;
    border: 0px;
    cursor: pointer;
	border-radius: 2px;
}

.img-container i {
	background: inherit;
	padding: 0;
}

/* Le trait de séparation au-dessus du bouton valider */
.modal-gallery:after {
    content: '';
    display: block;
	margin-top: 50px;
    height: 1px;
	width: 100%;
    max-width: 420px;
    background-color: #B3B3B3; 
}

/* Le bouton "Ajouter une photo" et "Valider" */
.addButton, #submitBtn {
	display: block;
	margin: 30px auto;
	padding: 10px 8px;
	width: 237px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	text-align: center;
	border: 0 solid #1D6154;
	border-radius: 60px;
}

.addButton {
	color: white;
	background-color: #1D6154;
}

/* Le bouton de fermeture (x) */
.closeBtn {
    color: black;
    float: right;
    font-size: 24px;
    font-weight: bold;
}

.closeBtn:hover,
.closeBtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Le bouton de navigation (<-) */
.prevBtn {
    color: black;
    float: left;
    font-size: 24px;
    font-weight: bold;
}

.prevBtn:hover,
.prevBtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modale formulaire */

.modaleFormulaire {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;

}

.modaleFormulaire form {
	display: flex;
	flex-direction: column;
	padding: 0 105px;
	background-color: white;

}
/* Zone d'import de photo */

.photoLabelForm * {
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* L'icone de l'image au-dessus du bouton */
#formulaireImport i, #formulaireImport .icone {
	padding: 0;
	background : #E8F1F6;
}

#formulaireImport svg {
	padding: 20px 0 10px 0;
}

/* Le bouton "+ Ajouter photo" du formulaire */
.ajoutPhoto {
	display: flex;
	justify-content: center;
	width: 173px;
	height: 36px;
	margin: auto;
	vertical-align: middle;
	cursor: pointer;
    background: #CBD6DC;
	background-color: #CBD6DC;
    border: 0px;
    color: #306685;
    font-size: 14px;
	border-radius: 50px;
}

.photoLabelForm {
	background : #E8F1F6;
}

/* La mention sur les types de fichiers acceptés */
.fileInfo {
	padding: 10px 0 25px 0;
	margin: 0;
	background : #E8F1F6;
	font-size: 10px;
}

/* La zone d'aperçu de l'image*/

#imagePreview {
	height: 169px;
	object-fit: contain;
	background-color: #E8F1F6;
 }

/* La zone de saisie de titre */
#titleLabel, #categoryLabel {
	background-color: white;
	margin-top: 20px;
	padding: 10px 0;
	color: #3D3D3D;
	font-size: 15px;

}

#titleInput, #categorySelect {
	background: transparent;
	height: 51px;
	padding: 0 15px;
	border: 0;
	box-shadow: 0px 4px 14px 0px #00000017;
	color: #444444;
	font-size: 14px;
}

/* La zone de choix de catégorie */
#categoryLabel {
	margin-right: 50px;
	padding-right: 50px;
}

/* Trait de séparation au-dessus du bouton Valider */
#trait {
	content: '';
    display: block;
	margin-top: 50px;
    height: 1px;
	width: 100%;
    max-width: 420px;
    background-color: #B3B3B3; 
}

/* Le bouton Valider "par défaut"*/
#submitBtn {
	background: #A7A7A7;
    color: white;
}
/* Le bouton Valider "actif"*/
#submitBtnActive {
	padding: 10px 0;
    background: #1D6154;
    color: white;
	display: block;
	margin: 30px auto;
	width: 237px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	text-align: center;
	border: 0 solid #1D6154;
	border-radius: 60px;
	cursor: pointer;
}

/* Les messages d'erreurs du formulaire*/
 #categoryErrorMsg, #titleErrorMsg, #photoErrorMsg {
	background: inherit;
	text-align: center;
	margin-top: 20px;
 }
